@import "@/common/styles/colors"

.dialog-main .text-area
  margin-left: 1rem
  margin-right: 1rem

.dialog-main .input-group
  display: flex
  justify-content: space-between
  align-items: center

.dialog-main .text-area h4
  margin: 0
  font-size: 16pt
  color: $gray

.dialog-main .text-area p
  font-size: 12pt
  font-weight: 500
  color: $gray

.dialog-main .textbox-input
  font-size: 14pt
  padding: 10px 15px
  width: 12rem

@media screen and (max-width: 500px)
  .dialog-main .input-group
    margin-top: 0.2rem
    display: unset

    & .text-area
      margin-bottom: 0.6rem

      margin-left: 0
  .input-group .textbox-input
    width: auto
