@import "@/common/styles/colors"

.home-wrapper
  margin: 3rem 6rem 2rem

.link-area
  margin-left: 5rem
  margin-right: 5rem
  margin-top: 2rem
  display: flex
  flex-direction: column
  gap: 1rem

.text-center
  color: $gray
  text-align: center