@import "@/common/styles/colors"

.domain-item
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.7rem 1.2rem
  border: 1px solid rgba(0, 0, 0, 0)
  border-radius: 15px
  cursor: pointer
  gap: 2rem
  font-size: 18pt

.domain-current
  border: 1px solid $gray

.domain-item:hover
  border: 1px solid $primary

.delete-domain:hover
  color: $red-hover

@media screen and (max-width: 502px)
  .domain-item
    gap: 0.6rem
  .domain-item svg:nth-child(1)
    display: none

@media screen and (max-width: 391px)
  .domain-item
    font-size: 15pt
    padding: 0.7rem 0.5rem
