@import "@/common/styles/colors"

.login-container
  display: flex
  height: 100vh
  justify-content: center
  align-items: center

.login-wrapper
  display: flex
  flex-direction: column
  gap: 1.5rem

.title
  color: $gray
  text-align: center
  font-size: 53pt
  margin-top: 0
  margin-bottom: 1rem

.title span
  color: $primary
  text-decoration: underline

@media screen and (max-width: 425px)
  .login-container .textbox-input
    font-size: 16pt
  .login-container .btn
    font-size: 16pt
  .title
    color: $gray
    text-align: center
    font-size: 42pt

@media screen and (max-width: 375px)
  .login-container .textbox-input
    font-size: 14pt
  .title
    color: $gray
    text-align: center
    font-size: 36pt