body {
  background-color: #f1f1f1;
  font-family: 'Courier New', serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  max-width: 400px;
  text-align: center;
}

.form-control {
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}

h1 {
  margin-bottom: 30px;
  font-size: 2em;
}

button {
  width: 300px;
}
