.domain-dialog
  display: flex
  gap: 1rem
  flex-direction: column

.domain-dialog .textbox-input
  font-size: 16pt

.domain-area
  text-align: center
  margin-left: 1rem
  margin-right: 1rem
  display: flex
  flex-direction: column
  gap: 0.5rem

.button-area
  text-align: center

.button-area button
  font-size: 16pt

@media screen and (max-width: 502px)
  .domain-area
    margin: 0
  .btn
    font-size: 16pt
